#																				+ *
#     Copyright © 2006-2013 Apple Inc. All rights reserved.				        + *
#																				+ *
#  THESE COMPUTER LISTINGS AND SPECIFICATIONS, HEREIN, ARE THE					+ *
#  PROPERTY OF Apple Inc. AND SHALL												+ *
#  NOT BE REPRODUCED OR COPIED OR USED IN WHOLE OR IN PART AS THE BASIS FOR		+ *
#  MANUFACTURE OR SALE OF ITEMS WITHOUT WRITTEN PERMISSION.						+ *
#
## Sample configuration file showing the test cases that I'm looking at
##
## File is tab delimited.
##
## NOTE: For every entry in this file you MUST have an associated .env file in the Config folder.
## Change History (newest on top)



{Mac-189A3D4F975D5FFC}	EFI="Configs\ASD_189A3D4F975D5FFC.env"	OS="ASD_189A3D4F975D5FFC.env"	# J44
{Mac-3CBD00234E554E41}	EFI="Configs\ASD_3CBD00234E554E41.env"	OS="ASD_3CBD00234E554E41.env"	# J45
{Mac-2BD1B31983FE1663}	EFI="Configs\ASD_2BD1B31983FE1663.env"	OS="ASD_2BD1B31983FE1663.env"	# J45g

{Mac-AFD8A9D944EA4843}	EFI="Configs\ASD_AFD8A9D944EA4843.env"	OS="ASD_AFD8A9D944EA4843.env"
{Mac-C3EC7CD22292981F}	EFI="Configs\ASD_C3EC7CD22292981F.env"	OS="ASD_C3EC7CD22292981F.env"
{Mac-66F35F19FE2A0D05}	EFI="Configs\ASD_66F35F19FE2A0D05.env"	OS="ASD_66F35F19FE2A0D05.env"
{Mac-2E6FAB96566FE58C}	EFI="Configs\ASD_2E6FAB96566FE58C.env"	OS="ASD_2E6FAB96566FE58C.env"
{Mac-6F01561E16C75D06}	EFI="Configs\ASD_6F01561E16C75D06.env"	OS="ASD_6F01561E16C75D06.env"
{Mac-4B7AC7E43945597E}	EFI="Configs\ASD_4B7AC7E43945597E.env"	OS="ASD_4B7AC7E43945597E.env"
{Mac-7DF2A3B5E5D671ED}	EFI="Configs\ASD_7DF2A3B5E5D671ED.env"	OS="ASD_7DF2A3B5E5D671ED.env"
